* {
    box-sizing: border-box;
}

#citySearchBtn {
    position: relative;
    bottom: 2px;
}

#uvSpan {
    color: black;
}

.cityEl:hover {
    background-color: rgb(192, 223, 235);
}

.fa-times {
    float: right;
    transition-duration: .1s;
}

.fa-times:hover {
    transform: scale(1.3)
}

.error {
    box-shadow: 0 0 1.5pt 2pt rgb(224, 43, 43);
    border-color: rgb(224, 43, 43);
}

.error:focus {
    outline: none;
}

.error::placeholder {
    color: red;
}