* {
    box-sizing: border-box;
}

#citySearchBtn {
    position: relative;
    bottom: 2px;
}

#uvSpan {
    color: black;
}

h6:hover {
    background-color: rgb(192, 223, 235);
}

.fa-times {
    float: right;
    transition-duration: .1s;
}

.fa-times:hover {
    transform: scale(1.3)
}